.img-container {
  width: 440px;
  height: 280px;
  float: left;
  margin: 30px;
}

.img-box {
  align-items: center;
  max-width: 100%; 
  max-height: 100%;
}

.img-preview {
  width: 320px;
  height: 180px;
  float: left;
  margin: 30px;
  border: solid 1px grey;
}